.news {
  .slick-slide {
    margin: 0 1.5rem;
    @media all and (max-width: 767px) {
      margin: 0 1.5rem;
    }
  }

  .slick-list {
    margin: 0 -1.5rem;
    padding: 0 1.5rem;
    @media all and (max-width: 767px) {
      margin: -3rem -1.5rem 0;
    }
  }

  &-section {
    position: relative;
    padding: 9rem 0;
    @media all and (max-width: 1024px) {
      padding: 5rem 0;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000a17,0.7);
    }

    .container {
      position: relative;
    }
  }

  &-wrap {
    position: relative;
    z-index: 2;
  }

  &-item {

    &-wrapper {
      padding: 1.5rem 1rem 2rem;
      position: relative;
      border: 1px solid rgba(#00aa7e,0.3);
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 2.6rem;
        height: 2.6rem;
        border-top: 1px solid #00aa7e;
        border-left: 1px solid #00aa7e;
        transition: all 0.5s ease-in-out;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 2.6rem;
        height: 2.6rem;
        border-right: 1px solid #00aa7e;
        border-bottom: 1px solid #00aa7e;
        transition: all 0.5s ease-in-out;
      }
    }

    &-top {
      margin-bottom: 2rem;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      .news-item__img {
        margin-right: 1.5rem;
        flex: none;
        display: block;
        width: 7rem;
        height: 7rem;
        object-fit: cover;
      }
      .news-item-desc {
        &__title {
          margin-bottom: 1.3rem;
          color: #ffffff;
          font-family: $baseFont;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.7rem;
        }
        &__date {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          color: #ebebeb;
          font-family: $baseFont;
          font-size: 1.2rem;
          font-weight: 400;
          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 3rem;
            height: 1px;
            background-color: rgba(#ffffff,0.3);
          }
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 2rem;
            width: 1rem;
            height: 1px;
            background-color: #ffffff;
          }
        }
      }

    }

    &__text {
      color: #d3d3d3;
      font-family: $baseFont;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.7rem;
    }

    &__link {
      //max-width: 25.5rem;
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      outline: none;
      &:hover {
        .news-item-wrapper {
          &:before, &:after {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  &-arrows {

    &-wrapper {
      position: absolute;
      top: 0;
      right: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 2;
      @media all and (max-width: 420px) {
        position: relative;
        top: 2.5rem;
        right: auto;
        justify-content: center;
      }
    }

    &__prev, &__next {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      border: 0.1rem solid rgba(#00aa7e,0.3);
      cursor: pointer;
      transition: all 0.5s ease-in-out;


      &:hover {
        border: 0.1rem solid #00aa7e;
        background-color: rgba(#00aa7e,0.5);
        .news-arrows--border {
          opacity: 0;
        }
      }
      .news-arrows-img {
        width: 2.5rem;
        height: 0.6rem;
      }
    }

    &__prev {
      margin-right: 3.5rem;
      .news-arrows-img {
        transform: scale(-1,1);
      }
      .news-arrows--border {
        position: absolute;
        top: -1px;
        left: -2px;
        transform: scale(-1,-1);
        transition: all 0.5s ease-in-out;
        pointer-events: none;
        user-select: none;
      }
    }
    &__next {
      .news-arrows--border {
        position: absolute;
        right: -1px;
        bottom: -2px;
        transition: all 0.5s ease-in-out;
        pointer-events: none;
        user-select: none;
      }
    }

  }
}

.news-arrows__prev {
  svg {
    width: 240px;
    height: 240px;
    background: #eee;
    circle {
      fill: none;
      stroke: red;
      stroke-width: 4;
      cx: 120;
      cy: 120;
      r:  100;
      stroke-dasharray:1000;
      transition: all 1s ease-in-out;
    }
  }

  &:hover {
    svg {
      circle {
        stroke-dashoffset: 0;
      }
    }
  }
}